{{! Based on https://github.com/lblod/frontend-burgernabije-besluitendatabank/blob/b29b981396d63d8ebdb9c9382654768158b25902/app/components/oops.hbs#L1 }}
<div class="au-o-layout au-o-region-large au-u-1-1">
  <h1 class="au-u-h1 au-u-medium">{{@title}}</h1>
  <p class="au-u-margin-bottom au-u-margin-top">{{@content}}</p>
  <AuLink @skin="button" @route="index">Terug naar de startpagina</AuLink>
</div>